* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  line-height: 1.6em;
  letter-spacing: 0.06em;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: rgb(119, 31, 68);
}

body {
  height: 100vh;
}

#app {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}